extends defaults/layout.pug
include defaults/mixins.pug
block content
    .card-container

        .card
            .card__inner

                .card__background 
                    +addPicture('background.jpg', '', '')

                .card__front 
                    +addPicture('chip.png', 'card__chip', '')
                    +addPicture('mastercard.png', 'card__logo', '')
                    +addPicture('visa.png', 'card__logo active', '')
                    .card__number 
                        p 
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                            span #
                    .card__footer 
                        .card__field 
                            p.label Card Holder
                            p.value.js-card-holder AD SOYAD
                        .card__field 
                            p.label Expires
                            p.value
                                span MM
                                span /
                                span YY

                .card__back
                    .card__cvv 
                        p.label CVV
                        p.value 
                    +addPicture('mastercard.png', 'card__logo card__logo--back', '')
                    +addPicture('visa.png', 'card__logo card__logo--back active', '')
                    


        form.card-form
            .card-form__row
                label.card-form__label(for="number") Card Number 
                input.card-form__input(type="text" name="number" id="number" required maxlength="16")
            .card-form__row
                label.card-form__label(for="holder") Card Name 
                input.card-form__input.js-form-holder(type="text" name="holder" id="holder" required maxlength="25")
            .card-form__group 
                .card-form__row
                    label.card-form__label(for="exp-date") Expiration Date
                    .card-form__exp-date-c
                        select.card-form__input(name="month" id="exp-date" required)
                          option(value="") Month
                          - var n = 1
                          while (n <=12)
                            option(value=n)= String(n++).padStart(2, '0') 
                        select.card-form__input(name="year" required)
                          option(value="") Year
                          - var n = 2019
                          while (n <= 2030)
                            option(value=n)= String(n++)
                .card-form__row 
                    label.card-form__label(for="cvv") CVV
                    input.card-form__input(type="text" name="=cvv" id="=cvv" maxlength="4" required)

            button.card-form__btn(type="submit") Submit