@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Breakpoints
$mobile-sm: 640px;
$mobile-md: 768px;
$laptop: 1024px;

// Border radius
$radius-sm: 5px;
$radius-md: 13px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d4eafd;
}

.card-container {
  width: 100%;
  max-width: 57rem;

  * {
    outline: none;
  }

  // For custom arrow
  select {
    cursor: pointer;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }
}

.card {
  position: relative;
  margin: 0 auto;
  width: 75%;
  font-family: 'Inconsolata', monospace;
  font-size: clamp(1.3rem, 0.6rem + 2vw, 1.8rem);
  color: #fff;
  perspective: 1000px;
  transform: translateY(50%);

  &__inner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
  }

  &:hover &__inner {
    transform: rotateY(-180deg);
  }

  &__background {
    position: relative;
    border-radius: $radius-md;
    box-shadow: 0 10px 50px 0 rgba(19, 44, 88, 0.466);
    overflow: hidden;

    img {
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &__back {
    transform: rotateY(180deg);
    background: linear-gradient(
      180deg,
      transparent 15%,
      #111 15%,
      #111 35%,
      transparent 35%
    );
  }

  // ELemenets Positioning

  &__chip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    width: 25%;
  }

  &__logo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5%;
    width: 30%;
    opacity: 1;

    &--back {
      top: 60%;
      opacity: 0.7;
    }

    &.active {
      display: block;
    }
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 5%;
    width: max-content;
    font-size: 1.7em;
    font-size: clamp(1.6rem, 0.9rem + 2.7vw, 3rem);

    span:nth-child(4n) {
      padding-right: 1em;
    }
    span:last-child {
      padding-right: 0;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 2rem;
    overflow: hidden;
    padding: 5%;
  }

  &__field {
    position: relative;
    .label {
      margin-bottom: 0.5rem;
      font-size: 0.7em;
      font-weight: 500;
      letter-spacing: 1px;
      opacity: 0.7;
    }
    .value {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__cvv {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 5%;
    text-align: end;

    .label {
      padding-right: 3%;
      font-size: 0.8em;
      margin-bottom: 0.5rem;
    }

    .value {
      display: flex;
      justify-content: end;
      align-items: center;
      height: 2em;
      padding-right: 3%;
      color: #111;
      background-color: #fff;
      border-radius: $radius-sm;
    }
  }

  .highlight {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 1.5rem);
      height: calc(100% + 1rem);
      border-radius: $radius-sm;
      border: 1px solid #ddd;
    }
  }
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 30% 1rem 1rem;
  font-size: clamp(1.3rem, 0.6rem + 2vw, 1.6rem);
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border-radius: $radius-md;
  box-shadow: 0 25px 50px rgba(83, 107, 138, 0.4);

  @media screen and (min-width: $mobile-sm) {
    padding: 30% 2rem 2rem;
  }
  @media screen and (min-width: $laptop) {
    padding: 30% 3rem 3rem;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__label {
    margin-bottom: 0.5rem;
    font-size: 0.8em;
    font-weight: 500;
    opacity: 0.9;
  }

  &__input {
    padding: 0.9em 1.5rem;
    width: 100%;
    border-radius: $radius-sm;
    border: 1px solid #ddd;
    transition: border 300ms;

    &:hover,
    &:focus {
      border-color: skyblue;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    gap: 2em;
  }

  &__exp-date-c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2em;
  }

  &__btn {
    margin-top: 1em;
    padding: 0.8em 1em;
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    background-color: #0055d4;
    border: 1px solid transparent;
    border-radius: $radius-sm;
    box-shadow: 3px 10px 20px rgba(30, 97, 211, 0.3);
    cursor: pointer;
    transition: opacity 300ms;

    &:hover,
    &:focus {
      opacity: 0.92;
    }
  }
}
